@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  font-family: Noto Sans KR;
  white-space: pre-wrap;
}

::-webkit-scrollbar {
  display: none;
}

* {
  font-size: 4vw;
}

@media (min-width: 420px) {
  * {
    font-size: 16px;
  }
}
